.container 
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 20px;
    
    }
    
    .iter 
    { 
        padding: 20px 20px 20px 15px;
        grid-area: 2 / 2 / 3 / 3; 
    }
    .box 
    { 
        padding: 20px 20px 20px 15px;
        grid-area: 2 / 3 / 3 / 4; 
    }
    .ispa {
        padding: 20px 20px 20px 15px; 
        grid-area: 2 / 4 / 3 / 5; 
    }
    .itemo 
    { 
        padding: 20px 20px 20px 15px;
        grid-area: 3 / 4 / 4 / 5; 
      }
    .there 
    {
        padding: 20px 20px 20px 15px; 
        grid-area: 3 / 3 / 4 / 4; }
    .hope 
    {
        padding: 20px 20px 20px 15px; 
        grid-area: 3 / 2 / 4 / 3; 
    }
    .items { 
        padding: 20px 20px 20px 15px;
        grid-area: 4 / 2 / 5 / 3;
     }
     .container div
     {
        background-color: rgb(133, 155, 155);
        border-radius: 15px;
        border-left: 10px solid brown;
     }
    
    